/* font-Lato */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato'),url(../fonts/lato/Lato-Regular.woff2) format('woff2');
    display: swap;
}

@font-face {
    font-family: 'Lato';
    font-style: bold;
    font-weight: 700;
    src: local('Lato'),url(../fonts/lato/Lato-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: black;
    font-weight: 900;
    src: local('Lato'),url(../fonts/lato/Lato-Black.woff2) format('woff2');
}

/* font-Inter */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local('inter'),url(../fonts/inter/Inter-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: Medium;
    font-weight: 500;
    src: local('Inter'),url(../fonts/inter/Inter-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: 600;
    font-weight: 600;
    src: local('Inter'),url(../fonts/inter/Inter-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: Bold;
    font-weight: 700;
    src: local('Inter'),url(../fonts/inter/Inter-Bold.woff2) format('woff2');
}


@font-face {
    font-family: 'Inter';
    font-style: Bold;
    font-weight: 700;
    src: local('inter'),url(../fonts/inter/Inter-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: 800;
    font-weight: 800;
    src: local('Inter'),url(../fonts/inter/Inter-ExtraBold.woff2) format('woff2');
}
/*font poppins*/
@font-face {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
    src: local('poppins'),url(../fonts/poppins/Poppins-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'poppins';
    font-style: Medium;
    font-weight: 500;
    src: local('poppins'),url(../fonts/poppins/Poppins-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'poppins';
    font-style: 600;
    font-weight: 600;
    src: local('poppins'),url(../fonts/poppins/Poppins-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'poppins';
    font-style: bold;
    font-weight: 700;
    src: local('poppins'),url(../fonts/poppins/Poppins-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'poppins';
    font-style: 800;
    font-weight: 800;
    src: local('poppins'),url(../fonts/poppins/Poppins-ExtraBold.woff2) format('woff2');
}

@font-face {
    font-family: 'poppins';
    font-style: 900;
    font-weight: 900;
    src: local('poppins'),url(../fonts/poppins/Poppins-Black.woff2) format('woff2');
}

/*public sans*/
@font-face {
    font-family: 'public-sans';
    font-style: normal;
    font-weight: 400;
    src: local('public-sans'),url(../fonts/public-sans/PublicSans-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'public-sans';
    font-style: 600;
    font-weight: 600;
    src: local('public-sans'),url(../fonts/public-sans/PublicSans-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'public-sans';
    font-style: bold;
    font-weight: 700;
    src: local('public-sans'),url(../fonts/public-sans/PublicSans-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'public-sans';
    font-style: 800;
    font-weight: 800;
    src: local('public-sans'),url(../fonts/public-sans/PublicSans-ExtraBold.woff2) format('woff2');
}

@font-face {
    font-family: 'public-sans';
    font-style: 900;
    font-weight: 900;
    src: local('public-sans'),url(../fonts/public-sans/PublicSans-Black.woff2) format('woff2');
}

/*Be-vietnum*/
@font-face {
    font-family: 'Be-vietnum';
    font-style: normal;
    font-weight: 400;
    src: local('public-sans'),url(../fonts/be-vietnum/BeVietnamPro-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Be-vietnum';
    font-style: Medium;
    font-weight: 500;
    src: local('public-sans'),url(../fonts/be-vietnum/BeVietnamPro-Medium.woff2) format('woff2');
}


@font-face {
    font-family: 'Be-vietnum';
    font-style: 600;
    font-weight: 600;
    src: local('public-sans'),url(../fonts/be-vietnum/BeVietnamPro-SemiBold.woff2) format('woff2');
}


@font-face {
    font-family: 'Be-vietnum';
    font-style: bold;
    font-weight: 700;
    src: local('public-sans'),url(../fonts/be-vietnum/BeVietnamPro-Bold.woff2) format('woff2');
}


@font-face {
    font-family: 'Be-vietnum';
    font-style: 800;
    font-weight: 800;
    src: local('public-sans'),url(../fonts/be-vietnum/BeVietnamPro-ExtraBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Be-vietnum';
    font-style: 900;
    font-weight: 900;
    src: local('public-sans'),url(../fonts/be-vietnum/BeVietnamPro-Black.woff2) format('woff2');
}

